@import "../../../assets/scss/global.scss";
@import '../../../assets/scss/mixin.scss';

@include theme {
  &.dark {
    .ant-menu.ant-menu-dark.nav-menu {
      >.ant-menu-item {
        &-selected {
          background-color: $dark-main-hover;
        }
        &:hover {
          background-color: $dark-main-hover;
        }
      }
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    margin: 12px 24px 12px 0;
    float: left;
    svg {
      height: 40px;
      width: 40px;
      margin: 5px;
    }
    span {
      font-size: 30px;
      color: white;
      height: 100%;
      line-height: normal;
      @include lg {
        display: none;
      }
    }
  }

  .ant-btn {
    &.dark-mode {
      float: right;
      margin: 12px;
      &.dark {
        color: $dark-main;
        border: none;
        background-color: #f0f2f5;
      }
      &.light {
        color: #f0f2f5;
        border: 2px solid;
      }
    }
  }

}