.App {
  .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  }

  .night-mode {
    &.dark {
      color: #1f1f1f;
      border: none;
      background-color: #f0f2f5;
      padding: 0;
      float: right;
      margin: 12px;
    }
    &.light {
      color: #f0f2f5;
      border: 2px solid;
      padding: 0;
      float: right;
      margin: 12px;
    }
  }
}