@import '../../../assets/scss/global.scss';
@import '../../../assets/scss/mixin.scss';

#components-table-demo-resizable-column .react-resizable {
    position: relative;
    background-clip: padding-box;
  }
  
  #components-table-demo-resizable-column .react-resizable-handle {
    position: absolute;
    right: -5px;
    bottom: 0;
    z-index: 1;
    width: 10px;
    height: 100%;
    cursor: col-resize;
  }