@import '../../../assets/scss/global.scss';
@import '../../../assets/scss/mixin.scss';

@include dark {
  .layout-construction {
    svg {
      path {
        fill: $dark-main-hover;
      }
    }
    .ant-btn {
      border-color: $dark-main-hover;
      background-color: $dark-main-hover;
      &:hover {
        border-color: $dark-main-link;
        background-color: $dark-main-link;
      }
    }
  }
}
