@import '../../../assets/scss/global.scss';
@import '../../../assets/scss/mixin.scss';

@include theme {
  .ant-row {
    &.auto-complete-wrapper {
      .ant-col {
        &:first-child{
          padding-left: 0;
        }
        &:last-child{
          padding-right: 0;
        }
        padding-right: 10px;
        padding-left: 10px;
        width: 50%;
        max-width: 700px;
        @include md {
          width: 100%;
          padding: 10px 0;
        }
      }
    }
    &.headsets {
      margin-left: -8px; margin-right: -8px;
      >div {
        padding-left: 8px; padding-right: 8px;
        &.normal-mode {
          width: 25%;
          @include lg {
            width: 33%;
          }
          @include sm {
            width: 50%;
          }
        }
        &.compare-mode {
          transition: width 1s ease-out;
          transition-delay: 300ms;
          width: 50%;
        }
      }
    }
  }

  .fade-headsets-enter {
    opacity: 0.01;
    &.fade-headsets-enter-active {
      opacity: 1;
      transition: opacity 700ms ease-in;
    }
  }

  .fade-headsets-leave {
    opacity: 1;
    &.fade-headsets-leave-active{
      opacity: 0.01;
      transition: opacity 300ms ease-in;
    }
  }
}